{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
    <form action ="/buy" method ="post">
        Enter Stock Symbol
        <br></br>
        <input type ="text" autofocus autocomplete = "off" name ="symbol" placeholder = "Symbol">
        <br></br>
        Enter number of stocks you want to purchase
        <br></br>
        <input type ="number" placeholder ="Positive number" name ="shares" min ="1" >
        <br></br>
        <button class="btn btn-primary" type ="submit">Buy</button>
    </form>

{% endblock %}